.DS_Store
nightguard Complication/.DS_Store
nightguard WatchKit App/.DS_Store
nightguard Widget Extension/.DS_Store
build/
nightguard.app.dSYM.zip
nightguard.ipa
nightguard.xcodeproj/xcshareddata/
Pods/
nightguard.xcodeproj/project.xcworkspace/xcshareddata/
nightguard.xcodeproj/project.xcworkspace/xcuserdata/
nightguard.xcodeproj/xcuserdata/
nightguard.xcworkspace/xcuserdata/
fastlane/Preview.html
fastlane/report.xml
fastlane/screenshots/en-US/*.png
fastlane/screenshots/de-DE/*.png
fastlane/screenshots/fi/*.png
fastlane/screenshots/screenshots.html
fastlane/.DS_Store
fastlane_log.txt
.env
.claude
